.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative; /* This ensures absolute positioning is relative to the App-header */
  padding-bottom: 50px; /* Give some space at the bottom for the buttons */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Additional container for buttons */
.buttons-container {
  position: absolute;
  bottom: 10px;
  left: 10px; /* Ensure this matches the padding of the App for alignment */
  right: 10px; /* Ensure this matches the padding of the App for alignment */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width */
}

/* You might not need these styles if using Chakra UI as it handles positioning */
.settings-button {
  margin-left: auto; /* This pushes the settings button to the right */
}

.theme-toggle-button {
  /* This is now handled by the buttons-container */
}